/* 
Globals
	Sass variable, mixins, plugins, etc. that are used throughout the entore site.
*/

// Function for converting a px based font-size to rem.
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin fontSize($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Regular'), local('Cabin-Regular'), url(http://fonts.gstatic.com/s/cabin/v7/kJXt72Gt1LyFMZcEKAAvlKCWcynf_cDxXwCLxiixG1c.woff) format('woff');
}
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  src: local('Cabin Bold'), local('Cabin-Bold'), url(http://fonts.gstatic.com/s/cabin/v7/haOjnueK8Or1ztuuRtr8dnYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}
@font-face {
  font-family: 'Walter Turncoat';
  font-style: normal;
  font-weight: 400;
  src: local('Walter Turncoat'), local('WalterTurncoat'), url(http://fonts.gstatic.com/s/walterturncoat/v6/sG9su5g4GXy1KP73cU3hvUg5BZJjJQhkX_0Ep7_Wjf8.woff) format('woff');
}



@mixin body-font-regular {
    font-family: 'Cabin', "Georgia", sans-serif;
    font-style: normal;
    font-weight: 400;
}

@mixin body-font-bold {
    font-family: 'Cabin', "Georgia", sans-serif;
    font-style: normal;
    font-weight: 700;
}

@mixin headline-font {
    font-family: 'Walter Turncoat', helvetica, serif;
    font-style: normal;
    font-weight: 400;
}

$color: #79afe5;
$color-title: #79afe5;
$background-color: #e6e3e3;